@tailwind base;
@tailwind components;
@tailwind utilities;

@import './editor.css';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --connection-connecting: 39 83% 49%;
    --connection-connected: 142 77% 73%;
    --connection-disconnected: 347 83% 49%;

    --border: 0 0% 50%;
    --border-light: 0 0% 80%;
    --border-dark: 0 0% 20%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --editor-foreground: 0 0% 0%;
    --editor-background: 0 0% 100%;

    --toolbar-foreground: 0 0% 0%;
    --toolbar-background: 0 0% 100%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --card-background: 0 0% 100%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --editor-foreground: 0 0% 100%;
    --editor-background: 0 0% 0%;

    --toolbar-foreground: 0 0% 100%;
    --toolbar-background: 0 0% 0%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }
}

@layer base {
  body {
    @apply text-neutral-900;
    @apply antialiased;

    font-size: 16px;
  }

  /* .ProseMirror {
    @apply px-4 py-4;

    &:focus {
      @apply outline-none;
    }

    & > * + * {
      @apply mb-4;
    }
  } */
}

/* .collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
} */

.react-colorful {
  width: 100% !important;
}

[data-reference-hidden] {
  opacity: 0;
  pointer-events: none;
}

input[type='range'] {
  @apply h-2.5 bg-gray-200 border-0 rounded appearance-none active:bg-gray-300 transition-all;

  &::-webkit-slider-thumb {
    @apply appearance-none w-3 h-5 bg-gray-400 rounded-full active:bg-gray-500 active:w-4 active:h-6 transition-all;
  }
}
